@use "./partials/reset";
@use "./variables/colors";
@use "./partials/fonts";
@use "./partials/header";
@use "./partials/deals-form";
@use "./partials/buttons";
@use "./partials/travel-form";
@use "./partials/search-results";
@use "./partials/burger-menu";
@use "./partials/advertisement";
@use "./partials/footer";

.main-container {
  margin-top: 251px;
}

.deal-search {
}
