@use "./variables/colors";
@use "./partials/fonts";
@use "./partials/header";
@use "./partials/deals-form";
@use "./partials/buttons";
@use "./partials/travel-form";

.main-container {
  margin-top: 250px;
}
