@use "./components/global-styles/reset";
@use "./components/global-styles/fonts";
@use "./components/global-styles/buttons";
@use "./components/global-styles/container";
@use "./components/header/header";
@use "./components/header/burger-menu";
@use "./components/search-results/travel-form";
@use "./components/search-results/search-results";
@use "./components/search-results/rating-stars-display";
@use "./components/search-results/load-page-bar";
@use "./components/deals-form";
@use "./components/advertisement";
@use "./components/footer";
@use "./components/alert";
