@use "../../variables/breakpoints";

.container {
  max-width: 481px;
  padding-bottom: 4.5em;
  @media (min-width: breakpoints.$desktop) {
    padding-bottom: 2em;
  }
}

.container,
.header {
  padding-right: 1.87em;
  padding-left: 1.87em;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: breakpoints.$tablet) {
    max-width: 1050px;
  }
  @media (min-width: breakpoints.$desktop) {
    max-width: 100000000px; //Do it, do it better
  }
}
