@use "../../variables/breakpoints";

html {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 2.12em;
  font-weight: 700;
}
.footer__title {
  font-size: 2.12em;
  font-weight: 700;
  @media (min-width: breakpoints.$desktop) {
    font-size: 1.25em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

p {
  font-size: 1.12em;
  font-weight: 400;
}

.alert {
  font-size: 0.87em;
  font-weight: 500;
}

.advertisement {
  p {
    font-size: 3em;
    font-weight: 700;
  }
}

.button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
}

.alert {
  font-weight: 700;
}
