@use "../variables/colors";
@use "../variables/breakpoints";

.advertisement {
  margin-top: 2.5em;
  @media (min-width: breakpoints.$desktop) {
    margin-top: 4em;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 28.74em;
  padding: 2.75em;
  border-radius: 1.9em;
  background-color: colors.$primary-color;

  background: linear-gradient(
    130deg,
    rgba(95, 46, 234, 0.8) 50%,
    rgba(95, 46, 234, 1) 0%
  );

  @media (min-width: breakpoints.$desktop) {
    height: 27.3em;
  }

  color: colors.$background-color;

  &__title {
    text-align: center;
    line-height: 1.2em;
  }

  &__button {
    color: inherit;
    border: 2px solid inherit;
    background-color: transparent;
    border-color: inherit;
    border: 2px solid;
    border-radius: 2.5em;
    padding: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    letter-spacing: 1.2px;

    @media (min-width: breakpoints.$desktop) {
      max-width: 15.19em;
    }
  }
}
