@use "../variables/colors";
@use "../variables/breakpoints";
@use "../mixins/alerts";

.alert {
  padding-top: 3.5em;
  @media (min-width: breakpoints.$desktop) {
    padding-top: 0;
  }
  &__benefit {
    @include alerts.alert(
      colors.$benefit-alert-color,
      colors.$benefit-alert-background-color
    );
    padding: 1em 0;
  }

  &__detriment {
    @include alerts.alert(
      colors.$detriment-alert-color,
      colors.$detriment-alert-background-color
    );
    padding: 1em 0;
  }

  &__icon {
    color: colors.$typography-color;
    margin: 1em;
    font-size: 1.2em;

    &--special {
      font-size: 1.7em;
      align-self: flex-start;
    }
  }
}
