@use "../variables/colors";
@use "../mixins/inputs";
@use "../mixins/separator";
@use "../variables/breakpoints";

.deal-finder {
  margin-top: 37%;
  padding-bottom: 2em;
  &__title {
    margin-bottom: 0.75em;
    @media (min-width: breakpoints.$desktop) {
      font-size: 2em;
    }
  }
  @include separator.separator();
  @media (min-width: breakpoints.$desktop) {
    margin-top: 14%;
    padding-bottom: 3em;
  }
}

.deal-form {
  display: flex;
  flex-direction: column;
  gap: 1.56em;

  &__input {
    @include inputs.inputs(1);
  }

  @media (min-width: breakpoints.$desktop) {
    flex-direction: row;
    gap: 0.62em;

    .deal-form__input {
      &--destination {
        @include inputs.inputs(3.6);
      }
      &--dates {
        @include inputs.inputs(2.15);
      }
      &--guests {
        @include inputs.inputs(2.15);
      }
    }
  }
}
.form {
  &__button {
    flex: 1.1;
  }
}

.deal-search {
  @media (min-width: breakpoints.$desktop) {
    display: flex;
  }
}
