@use "../variables/colors";
@use "../variables/breakpoints";

.footer {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5.6em;

  p {
    font-size: 1em;
    @media (min-width: breakpoints.$desktop) {
      font-size: 0.85em;
    }
  }

  ul {
    list-style: none;
  }

  &__title {
    color: colors.$primary-color;
  }

  &__description {
    flex: 1.7;
  }

  &__services,
  &__continents {
    display: none;
  }

  h4 {
    margin-bottom: 1em;
  }

  @media (min-width: breakpoints.$desktop) {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    &__copyright {
      font-weight: 600;
      line-height: 2.5em;
    }
    &__services,
    &__continents {
      display: block;
      flex: 1;
      gap: 2em;

      li {
        margin-bottom: 1em;
      }
    }

    &__contact {
      flex: 1;
    }
  }
}

.contact-list {
  &__mail {
    color: colors.$primary-color;
  }

  &__address {
    padding-left: 5%;
    padding-right: 5%;
    @media (min-width: breakpoints.$desktop) {
      padding: 0 10% 0 0;
    }
  }
}
