$primary-color: #5f2eea;

$navigation-color: #3643a2;

$typography-color: #000000;

$background-color: #fff;

$highlighted-content-color: #ed2e7e;

$benefit-alert-color: #00966d;

$benefit-alert-background-color: #f2fefb;

$detriment-alert-color: #c30052;

$detriment-alert-background-color: #fdf3f7;
