@mixin alert($color, $background-color) {
  border: 0.21em solid $color;
  border-radius: 1em;
  background-color: $background-color;
  color: $color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
