@mixin alert($color, $background-color) {
  margin: 2em;
  border: 0.3em solid $color;
  border-radius: 1em;
  background-color: $background-color;
  color: $color;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
