@mixin solid-button($color, $background-color) {
  background-color: $background-color;
  color: $color;
  border-radius: 2.5em;
  border: none;
  padding: 0.87em;
}

@mixin outline-button($color) {
  background-color: transparent;
  border: 2px solid $color;
  color: $color;
  border-radius: 2.5em;
  padding: 0.45em 1.15em 0.45em 1.15em;
  font-size: 0.9em;
}
