@mixin solid-button($color, $background-color) {
  background-color: $background-color;
  color: $color;
  border-radius: 2.5em;
  border: none;
  padding: 0.87em;
}

@mixin outline-button($color) {
  background-color: transparent;
  border: 2px solid $color;
  color: $color;
  border-radius: 2.5em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 0.9em;
  letter-spacing: 0.8px;
}
