@use "../variables/colors";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.7em 0 1.7em 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: colors.$background-color;
  border: 0 solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 1px 0;

  &__title {
    color: colors.$primary-color;
  }
}
