@use "../variables/colors";

@mixin inputs($width) {
  flex: $width;
  padding: 0.87em;
  background-color: colors.$background-color;
  border: 2px solid colors.$typography-color;
  border-radius: 1em;
  background-image: url(/images/arrow-point-to-right.png);
  background-repeat: no-repeat;
  background-position: 96.5%;
  padding-right: 9%;
}
