html {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 3.4em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1.12em;
  font-weight: 600;
}

.alert {
  font-size: 0.87em;
  font-weight: 500;
}

.advertisement {
  p {
    font-size: 3em;
    font-weight: 700;
  }
}

.button {
  font-size: 1em;
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
}
