@use "../variables/colors";
@use "../mixins/separator";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  padding: 1.7em 0 1.7em 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: colors.$background-color;
  @include separator.separator();

  &__title {
    color: colors.$primary-color;
  }
}
