@use "../variables/colors";

.load-page__icon {
  border-radius: 50%;
  border: 2px solid colors.$primary-color;
  color: colors.$primary-color;
  height: 3.37em;
  width: 3.37em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.load-page-contain {
  height: 3.37em;
  width: 30%;
  background-color: colors.$background-color;
  display: flex;
  justify-content: center;
  margin-top: -7%;
  margin-left: auto;
  margin-right: auto;
}
