@use "../variables/colors";
@use "../variables/breakpoints";
@use "../mixins/separator";
@use "../mixins/rating-stars";
@use "../partials/rating-stars-display";

.search-results {
  overflow: hidden;

  .search-result {
    padding: 2.25em 0 2.25em 0;
    &__images {
      list-style: none;
      display: flex;
      gap: 1.25em;
    }
    &__stars {
      @include rating-stars.star-list(colors.$highlighted-content-color, 1em);
    }
    &__title {
      color: colors.$primary-color;
      font-size: 1.5em;
      font-weight: 700;
    }

    &__map-link {
      color: colors.$primary-color;
      text-decoration: none;
      font-size: 1.3em;
      font-weight: 600;
    }
    &__location-icon {
      font-size: 1.5em;
      margin-right: 0.5em;
    }
    @media (min-width: breakpoints.$desktop) {
      display: flex;

      &__right-column {
        padding-left: 2.2em;
      }

      &__images :not(:nth-child(1)) {
        display: none;
      }

      &__stars {
        font-size: 1.3em;
      }
    }
    @include separator.separator();
  }
}
