@use "../variables/colors";
@use "../mixins/inputs";
@use "../mixins/separator";

.travel-search {
  background-color: colors.$primary-color;
  border-radius: 2em;
  margin-top: 2.7em;

  &__title {
    margin: 0;
    color: #fff;
    font-size: 2em;
    padding: 1em 0 0 1.2em;
  }
}

.travel-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2.2em;

  &__input {
    height: 4em;
    border-radius: 1em;
    border: none;
    margin-bottom: 1em;

    &--travellers {
      margin-bottom: 2em;
    }
  }

  &__title {
    color: #fff;
  }
}
