@use "../../variables/colors";
@use "../../mixins/burger-menu-bars";

.header__navigation {
  position: relative;
  cursor: pointer;
}

.navigation__icon {
  z-index: 9999;
  @include burger-menu-bars.bars(colors.$primary-color);
}

.navigation__icon::before {
  content: "";
  top: 9;
  @include burger-menu-bars.bars(colors.$primary-color);
}

.navigation__icon::after {
  content: "";
  bottom: 9;
  @include burger-menu-bars.bars(colors.$primary-color);
}
