@use "../../mixins/burger-menu-bars";
@use "../../variables/colors";

.navigation__menu {
  display: none;
}

#header__click:checked ~ .navigation__menu {
  display: block;
}

.navigation__sublink:active,
.navigation__sublink:focus,
.navigation__sublink:hover > * {
  display: flex;
}

.navigation__icon {
  transition: 0.4s;
}

#header__click:checked + .navigation__icon {
  transform: rotate(180deg);
  bottom: 2;
  background-color: colors.$background-color;

  &::after {
    content: "";
    transform: rotate(90deg) scaleX(0.8);
    background-color: colors.$background-color;
  }

  &::before {
    content: "";
    transform: rotate(-540deg);
    background-color: colors.$background-color;
  }
}
