@use "../../variables/colors";
@use "../../mixins/separator";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  padding-top: 1.7em;
  padding-bottom: 1.7em;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: colors.$background-color;
  @include separator.separator();

  &__title {
    color: colors.$primary-color;
  }
}
