@use "../../variables/colors";
@use "../../variables/breakpoints";

.load-page__icon {
  font-size: 1.7em;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid colors.$primary-color;
  color: colors.$primary-color;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.load-page-contain {
  height: 2.5em;
  width: 35%;
  background-color: colors.$background-color;
  display: flex;
  justify-content: center;
  margin-top: -7%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: breakpoints.$desktop) {
    display: none;
  }
}
