@use "../../variables/colors";
@use "../../variables/breakpoints";
@use "../../mixins/separator";
@use "../../mixins/rating-stars";
@use "../../mixins/buttons";

.search-results {
  margin-top: 2.9em;
  padding-bottom: 3em;
  @media (min-width: breakpoints.$desktop) {
    margin-top: 2em;
    border: none;
    padding-bottom: 0;
    padding-left: 2.3em;
  }
  overflow: hidden;

  @include separator.separator();

  &__title {
    font-size: 1.5em;
    @media (min-width: breakpoints.$desktop) {
      font-size: 2em;
    }
  }

  .search-result {
    padding: 2.5em 0 2.5em 0;
    p {
      margin: 0;
    }
    &__images {
      list-style: none;
      display: flex;
      gap: 1.25em;
      margin-bottom: 0.8em;
    }
    &__stars {
      @include rating-stars.star-list(colors.$highlighted-content-color, 1.5em);
      margin-bottom: 1.3em;
    }
    &__title {
      color: colors.$primary-color;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 0.2em;
    }

    &__location {
      padding-bottom: 0.5em;
    }

    &__map-link {
      color: colors.$primary-color;
      text-decoration: none;
      font-size: 1.3em;
      font-weight: 600;
    }
    &__location-icon {
      font-size: 1.2em;
      margin-right: 0.5em;
      -webkit-text-stroke: 1px colors.$primary-color;
      -webkit-text-fill-color: transparent;
      transform: scaleY(0.85);
    }
    &__description {
      padding-top: 0.5em;
      padding-bottom: 1.2em;
    }
    &__button {
      @include buttons.outline-button(colors.$primary-color);
    }
    @media (min-width: breakpoints.$desktop) {
      display: flex;

      &__right-column {
        padding-left: 2.2em;
      }

      &__images :not(:nth-child(1)) {
        display: none;
      }

      &__stars {
        font-size: 1.3em;
      }
      &__button {
        @include buttons.outline-button(colors.$primary-color);
        position: absolute;
        right: 0;
      }
    }
  }

  &__load-page {
    display: flex;
    justify-content: center;
  }
}

.deal-search {
  @media (min-width: breakpoints.$desktop) {
    display: flex;
    .search-menu {
      flex: 1;
    }
    .search-results {
      flex: 2;
    }
  }
}
